---
name: CI

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint add-on config
        uses: frenck/action-addon-linter@v2
        with:
          path: "./tailscale"
